altgraph==0.17.5
asgiref==3.12.1
certifi==2026.7.22
charset-normalizer==3.4.9
Django==6.0.7
idna==3.18
packaging==26.3
pefile==2024.8.26
psutil==7.2.2
pyinstaller==6.22.2
pyinstaller-hooks-contrib==2026.7
pywin32-ctypes==0.2.3
requests==2.34.2
setuptools==84.0.0
sqlparse==0.5.5
tzdata==2026.3
urllib3==2.7.0
waitress==3.0.2
