body{

background:transparent;
margin:0;

}

.bubble{

width:360px;
height:470px;

background:white;

border-radius:25px;

box-shadow:0 0 20px rgba(0,0,0,.25);

display:flex;
flex-direction:column;

}

.bubble::after{

content:"";

position:absolute;

bottom:-15px;
right:50px;

border-left:15px solid transparent;
border-right:15px solid transparent;
border-top:20px solid white;

}

#messages{

flex:1;
overflow-y:auto;
padding:20px;

}

.inputArea{

display:flex;
padding:10px;

}

input{

flex:1;

}